@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.cdnfonts.com/css/source-serif-pro");
:root {
  --font-family: "Work Sans", sans-serif;
  --second-family: "Plus Jakarta Sans", sans-serif;
  --third-family: "Source Serif Pro", sans-serif;
  --fourth-family: "Inter", sans-serif;
  --fiveth-family: "Source Serif Pro", sans-serif;
  --light-background: #ffff;
  --dark-background: #181a2a;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: var(--font-family);
  line-height: 1.5;
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
    margin: 0 auto;
  }
  .wrapper {
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
  }
  .header {
    padding: 32px 0;
    display: flex;
  }
  .header__inner {
    display: flex;
    justify-content: space-between;
  }
  .header__navigation {
    display: flex;
    align-items: center;
  }
  .header__list {
    display: flex;
    column-gap: 40px;
  }
  .header__item-link {
    color: #3b3c4a;
  }
  .header__item-link::first-letter {
    text-transform: uppercase;
  }
  .header__right-panel {
    display: flex;
    align-items: center;
    column-gap: 40px;
  }
  .header__search {
    position: relative;
  }
  .header__search-input {
    height: 36px;
    padding: 8px 8px 8px 16px;
    border: 0;
    border-radius: 5px;
    background-color: #f4f4f5;
    font-size: 0.875em;
  }
  .header__search-input:focus {
    outline: 0;
  }
  .header__search-icon {
    position: absolute;
    top: 50%;
    right: 8px;
    transform: translate(0, -50%);
    background-color: #f4f4f5;
    overflow: hidden;
  }
  .header__switch {
    display: inline-block;
  }
  .header__switch-light {
    height: 28px;
    width: 48px;
    padding: 2px;
    border-radius: 100px;
    background: #e8e8ea;
    display: flex;
    align-items: center;
  }
  .header__switch-icon {
    width: 24px;
    height: 24px;
    padding: 5px;
    border-radius: 100px;
    display: inline-flex;
    background-color: #fff;
  }
  .footer {
    font-family: var(--second-family);
    background-color: #F6F6F7;
    padding: 64px 0 32px;
  }
  .footer__upper {
    display: flex;
    justify-content: space-between;
  }
  .footer__about {
    width: 23.333%;
  }
  .footer__about-title {
    font-size: 1.125em;
    font-weight: 600;
    line-height: 1.56;
    color: #181a2a;
  }
  .footer__about-desc {
    margin-top: 12px;
    line-height: 1.56;
    color: #696a75;
  }
  .footer__about-contact {
    margin-top: 24px;
  }
  .footer__about-email > a, .footer__about-phone > a {
    color: #3b3c4a;
  }
  .footer__about_bold {
    font-weight: 600;
    color: #181a2a;
  }
  .footer__navigation-title, .footer__category-title {
    font-weight: 600;
    font-size: 1.125em;
    line-height: 1.56;
    color: #181a2a;
  }
  .footer__navigation {
    width: 21.6667%;
    display: flex;
    justify-content: space-between;
  }
  .footer__newsletter {
    padding: 28px 36px;
    border-radius: 12px;
    font-family: var(--font-family);
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .footer__newsletter-title {
    font-weight: 600;
    font-size: 1.25em;
    line-height: 1.2;
    color: #181a2a;
    text-align: center;
  }
  .footer__newsletter-desc {
    color: #696a75;
    text-align: center;
  }
  .footer__newsletter-submit {
    width: 100%;
    margin-top: 8px;
    border: 0;
    border-radius: 6px;
    padding: 12px 16px;
    background: #4b6bfb;
    font-weight: 500;
    color: #fff;
    font-family: var(--font-family);
  }
  .footer__email {
    position: relative;
  }
  .footer__email-input {
    width: 100%;
    height: 48px;
    border: 1px solid #dcdddf;
    border-radius: 6px;
    padding: 12px 16px;
    color: #97989f;
    font-family: var(--font-family);
  }
  .footer__email-input:focus {
    outline: 0;
  }
  .footer__email-icon {
    position: absolute;
    top: 50%;
    right: 16px;
    transform: translate(0px, -50%);
    overflow: hidden;
    background-color: #fff;
  }
  .footer__under {
    margin-top: 64px;
    padding-top: 32px;
    border-top: 1px solid #dcdddf;
    display: flex;
    justify-content: space-between;
  }
  .footer__under-title {
    font-size: 1.125em;
    line-height: 1.4;
    color: #141624;
  }
  .footer__under-title_bold {
    font-weight: 800;
  }
  .footer__under-rights {
    color: #3b3c4a;
  }
  .footer__under-left {
    display: flex;
    column-gap: 10px;
  }
  .footer__under-right {
    display: flex;
  }
  .footer__right-item {
    display: flex;
    align-items: center;
  }
  .footer__right-item:first-child > a {
    padding-right: 16px;
  }
  .footer__right-item:nth-child(2) > a {
    padding: 0 16px;
    border-left: 1px solid #E8E8EA;
    border-right: 1px solid #E8E8EA;
  }
  .footer__right-item:last-child > a {
    padding-left: 16px;
  }
  .footer__right-link {
    display: block;
    color: #3b3c4a;
  }
  .footer__navigation-list {
    margin-top: 24px;
  }
  .footer__list-item:not(:first-child) {
    margin-top: 8px;
  }
  .footer__item-link {
    color: #3b3c4a;
  }
  .latest-post {
    padding: 80px 0;
  }
  .latest-post__title {
    font-weight: 700;
    font-size: 1.5em;
    line-height: 1.17;
    color: #181a2a;
  }
  .latest-post__list {
    margin-top: 32px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    column-gap: 20px;
    row-gap: 20px;
  }
  .latest-post__item {
    width: 32.2%;
    padding: 16px;
    border: 1px solid #e8e8ea;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .latest-post__item-image {
    width: 100%;
    height: 240px;
    border-radius: 6px;
    object-fit: cover;
  }
  .latest-post__item-name {
    margin-top: 16px;
  }
  .latest-post__item-data {
    margin-top: 20px;
    display: flex;
    align-items: center;
    column-gap: 20px;
  }
  .latest-post__item-author {
    display: flex;
    align-items: center;
    column-gap: 12px;
  }
  .latest-post__item-date {
    line-height: 1.5;
    color: #97989f;
  }
  .latest-post__item-date::first-letter {
    text-transform: uppercase;
  }
  .latest-post__category {
    margin-top: 24px;
  }
  .latest-post__category-link {
    display: inline-block;
    vertical-align: top;
    border-radius: 6px;
    padding: 4px 10px;
    background-color: rgba(75, 107, 251, 0.05);
    font-weight: 500;
    font-size: 0.875em;
    line-height: 1.43;
    color: #4b6bfb;
  }
  .latest-post__name-link {
    font-weight: 600;
    font-size: 1.5em;
    line-height: 1.17;
    color: #181a2a;
  }
  .latest-post__author-icon {
    width: 36px;
    height: 36px;
    border-radius: 28px;
  }
  .latest-post__author-name {
    font-weight: 500;
    line-height: 1.5;
    color: #97989f;
  }
  .latest-post__author-name::first-letter {
    text-transform: capitalize;
  }
  .home-header {
    padding: 24px 0 126px;
  }
  .home-header__inner {
    position: relative;
  }
  .home-header__background {
    height: 600px;
    border-radius: 12px;
  }
  .home-header__panel {
    height: 360px;
    width: 49.8333%;
    position: absolute;
    top: 360px;
    left: 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border: 1px solid #e8e8ea;
    border-radius: 12px;
    padding: 40px;
    background-color: #fff;
  }
  .home-header__category-link {
    border-radius: 6px;
    padding: 4px 10px;
    background: #4b6bfb;
    font-weight: 500;
    line-height: 1.43;
    color: #fff;
    font-size: 0.875em;
  }
  .home-header__title {
    margin-top: 16px;
    font-weight: 600;
    font-size: 2.25em;
    color: #181a2a;
    line-height: 1.11;
  }
  .home-header__data {
    margin-top: 24px;
    display: flex;
    align-items: center;
    column-gap: 20px;
  }
  .home-header__author {
    display: flex;
    align-items: center;
    column-gap: 12px;
  }
  .home-header__author-image {
    width: 36px;
    height: 36px;
    border-radius: 28px;
  }
  .home-header__author-name {
    font-weight: 500;
    color: #97989f;
  }
  .home-header__date {
    color: #97989f;
  }
  .blog-listing__inner {
    height: 450px;
    position: relative;
  }
  .blog-listing__background {
    height: 100%;
    width: 100%;
    border-radius: 12px;
  }
  .blog-listing__panel {
    position: absolute;
    bottom: 40px;
    left: 40px;
  }
  .blog-listing__category-link {
    border-radius: 6px;
    padding: 4px 10px;
    background: #4b6bfb;
    font-weight: 500;
    line-height: 1.43;
    color: #fff;
    font-size: 0.875em;
  }
  .blog-listing__title {
    width: 72.5%;
    margin-top: 16px;
    font-weight: 600;
    font-size: 2.25em;
    color: #fff;
    line-height: 1.11;
  }
  .blog-listing__data {
    margin-top: 24px;
    display: flex;
    align-items: center;
    column-gap: 20px;
  }
  .blog-listing__author {
    display: flex;
    align-items: center;
    column-gap: 12px;
  }
  .blog-listing__author-image {
    width: 36px;
    height: 36px;
    border-radius: 28px;
  }
  .blog-listing__author-name {
    font-weight: 500;
    color: #fff;
  }
  .blog-listing__date {
    color: #fff;
  }
  .most-views-posts__inner {
    height: 660px;
    display: flex;
    column-gap: 20px;
  }
  .most-views-posts__left-side > .most-views-posts__post {
    height: 100%;
    width: 598px;
    padding: 40px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    background-size: cover;
    color: #fff;
  }
  .most-views-posts__left-side > .most-views-posts__post a {
    color: #fff;
  }
  .most-views-posts__title {
    margin-top: 16px;
    font-weight: 600;
    font-size: 2.25em;
    line-height: 1.111;
    color: #fff;
  }
  .most-views-posts__author {
    display: flex;
    align-items: center;
    column-gap: 12px;
  }
  .most-views-posts__author-link {
    color: #fff;
    font-weight: 500;
  }
  .most-views-posts__author-link::first-letter {
    text-transform: uppercase;
  }
  .most-views-posts__author-image {
    width: 36px;
    height: 36px;
    border-radius: 28px;
  }
  .most-views-posts__data {
    margin-top: 24px;
    display: flex;
    align-items: center;
    column-gap: 20px;
    color: #fff;
  }
  .most-views-posts__right-side {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .most-views-posts__right-side > .most-views-posts__post {
    height: 48.4848%;
    padding: 40px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-size: cover;
    background-position: center center;
  }
  .category__link {
    display: inline-block;
    padding: 4px 10px;
    border-radius: 6px;
    background-color: #4B6BFB;
    font-weight: 500;
    font-size: 0.875em;
    color: #fff;
  }
  .category__link::first-letter {
    text-transform: uppercase;
  }
}/*# sourceMappingURL=user_style.css.map */